.loginForm {
    background-color: #212121;
    padding: 1rem;
    color: white;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 4rem;
}

.loginForm input {
    border: none;
    border-bottom: 1px solid white;
    height: 1.5rem;
    background-color: transparent;
    color: white;
    font-size: large;
}

.loginForm label {
    font-size: large;
    font-weight: bold;
}

.loginForm fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;
}

.loginForm button {
    width: fit-content;
    padding: .5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    display: flex;
    align-self: center;
}

.loginForm button:hover {
    cursor: pointer;
    opacity: 90%;
}